{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h1> Goals page </h1>
            <a href="/goals/new" class="btn btn-primary">Create New Goal</a>
            {% assign arrayNumber = arrayLength %}
            {% for goal in goals %}
                {% assign arrayNumber = arrayNumber | minus: 1 %}
                {% if username == goal.username %}
                <h3>{{ goals[arrayNumber].createdAt }}</h3>
                <hr>
                <table style="width: 100%" class="table">
                    <div class="row">
                        <tr>
                            <th scope="col">
                                <h3>Current weigth</h3>
                            </th>
                            <th scope="col">
                                <h3>Goal weigth</h3>
                            </th>
                            <th scope="col">
                                <h3>Goal Calories</h3>
                            </th>
                        </tr>
                        <td>
                            <h3>{{ goals[arrayNumber].weight }} 
                            </h3>
                        </td>
                        <td>
                            <h3>{{ goals[arrayNumber].goal_weight }}
                            </h3>
                        </td>
                        <td>
                            <h3>{{ goals[arrayNumber].calorie_goal }} 
                            </h3>
                        </td>
                    </div>
                </table>
            </br>
                {% endif %}
            {% endfor %}
        </article>
    </div>
{% endblock %}