{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h1> Goals page </h1>
            <a href="/goals/new" class="btn btn-primary">Create New Goal</a>
            {% assign arrayNumber = arrayLength %}
            {% for goal in goals %}
                {% assign arrayNumber = arrayNumber | minus: 1 %}
                <h4>{{ goals[arrayNumber].createdAt }} </h4>
                <h3>Current Weight: </h3>
                <h4>{{ goals[arrayNumber].weight }} </h4>
                <h3>Goal Weight: </h3>
                <h4>{{ goals[arrayNumber].goal_weight }} </h4>
                <h3>Calorie goal: </h3>
                <h4>{{ goals[arrayNumber].calorie_goal }} </h4>
            </br>
            {% endfor %}
        </article>
    </div>
{% endblock %}