{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/foods/new" method="POST">
            <fieldset>
                <legend>Create New Food</legend>
                <label class="form-label"></label>
                    Food Name: <input 
                        type="text" 
                        name="name"
                        placeholder="Enter food name"
                        class="form-control"
                        required
                    >
                    Sugar:<input 
                        type="number" 
                        step="0.0001"
                        name="sugar_g"
                        placeholder="Enter sugar grams"
                        class="form-control"
                    >
                    Fiber:<input 
                        type="number" 
                        step="0.0001"
                        name="fiber_g"
                        placeholder="Enter fiber grams"
                        class="form-control"
                    >
                    Serving Size<input 
                        type="number" 
                        step="0.0001"
                        name="serving_size_g"
                        placeholder="Enter serving size grams"
                        class="form-control"
                    >
                    Sodium:<input 
                        type="number" 
                        step="0.0001"
                        name="sodium_mg"
                        placeholder="Enter sodium mg"
                        class="form-control"
                    >
                    Potassium:<input 
                        type="number" 
                        step="0.0001"
                        name="potassium_mg"
                        placeholder="Enter potassium mg"
                        class="form-control"
                    >
                    Saturated Fat:<input 
                        type="number" 
                        step="0.0001"
                        name="fat_saturated_g"
                        placeholder="Enter saturated fat g"
                        class="form-control"
                    >
                    Total Fat:<input 
                        type="number" 
                        step="0.0001"
                        name="fat_total_g"
                        placeholder="Enter total fat grams"
                        class="form-control"
                    >
                    Calories:<input 
                        type="number" 
                        step="0.0001"
                        name="calories"
                        placeholder="Enter calories"
                        class="form-control"
                    >
                    Cholesterol:<input 
                        type="number" 
                        step="0.0001"
                        name="cholesterol_mg"
                        placeholder="Enter cholesterol mg"
                        class="form-control"
                    >
                    Protein:<input 
                        type="number" 
                        step="0.0001"
                        name="protein_g"
                        placeholder="Enter protein g"
                        class="form-control"
                    >
                    Number:<input 
                        type="number" 
                        step="0.0001"
                        name="carbohydrates_total_g"
                        placeholder="Enter total carbs g"
                        class="form-control"
                    >
            </fieldset>
            <input 
                type="submit" 
                value="Create New Food"
                class="btn btn-success"
            >
        </form>
    </div>
{% endblock %}