{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h1> Goals page </h1>
            {{ goals[0].weight }}
            {{ goals[0].calorie_goal }}
                <fieldset>
                    <legend>Add Weight</legend>
                    <label class="form-label">Weight: </label>
                        <input 
                            type="number" 
                            name="weight"
                            placeholder="enter weight"
                            class="form-control"
                            value="{{ goal.weight }}"
                            required
                        >
                    <label class="form-label">Add calorie goal: </label>
                        <input 
                            type="number" 
                            name="calorie_goal"
                            placeholder="enter calories"
                            class="form-control"
                        >
                </fieldset>
                <input 
                    type="submit" 
                    value="Create New Goal"
                    class="btn btn-success"
                >
            </form>
    </div>
{% endblock %}