{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h3>Goals</h3>
            <h3>{{ user.weight }}</h3>
        </article>
    </div>
{% endblock %}